 
                              SONG-TEXTE
                              ----------
 
Tja, diesmal gibt es wieder mal ein  paar Song-Texte fÅr Karaoke-Fanatiker oder
der gleichen... Zusammengetragen von Maj. Tom / Bad Sectors

-------------------------------------------------------------------------------
Soul Asylum: GRAVE DANCERS UNION

1. Somebody to shove * 2. Black gold * 3. Runaway train * 4. Keep it up *
5. Homesick * 6. Get on out * 7. New world * 8. April Fool *
9. Without a trace * 10. Growing into you * 11. 99% * 12. The Sun Maid

-------------------------------------------------------------------------------

1.

Grandfather watches the grandfather clock
And the phone hasn't rung for so long
The time flies by like a vulture in the sky
Suddenly he breaks into song
I'm waiting by phone
Waiting for you to call me up
And tell me I'm not alone
Hello, speak up, is there somebody there
These hang-ups are getting me down
In a world frozen over with over-exposure
Let's talk it over, let's go out and paint the town
I'm waiting by the phone
Waiting for you to call me up
And tell me I'm not alone
I want somebody to shove
I need somebody to shove
I want somebody to shove me
You're a dream for insomniacs
Prize in the Cracker Jacks
All the difference in the world
Is just a call away
And I'm waiting by the phone
Waiting for you to call me up
And tell me I'm not alone
I want somebody to shove
I need somebody to shove
I want somebody to shove me

*****

2.

Two boys on a playground
Tryin' to push each other down
See the crowd gather 'round
Nothing attracts a crowd like a crowd
Black gold in a white flight
Fill up the tank let's go for a ride
I don't care about no wheelchair
I got so much left to do with my life
Moving backwards through time
Never learn never mind
That side's yours, this side's mine
Brother you ain't my kind
Black soldiers white fight
Fill up the tank let's go for a ride
Sure like to feel some pride
But this place just makes me feel sad inside
Mother do you know where your kids are tonight
Keeps the kids off the streets
Gives 'em something to do, something to eat
This spot was a playground
This flat land used to be a town

*****

3.

Call you up in the middle of the night
Like a fireply without a light
You were there like a blowtorch burning
I was a key that could use a little turning
So tired that I coulnd't even sleep
So many secrets I coulnd't keep
Promised myself I wouldn't weep
One more promise I couldn't keep
It seems no one can help me now
I'm in to deep there's no way out
This time I have really led myself astray
Runaway train never going back
Wrong way on a one way track
Seems like I should be getting somewhere
Somehow I'm neither here nor there
Can you help me remember how to smile
Make it somehow all seem worthwhie
How on earth did I get so jaded
Life's mystery seems so paded
I can go where no one else can go
I know what no one else knows
Here I am just brownin' in the rain
With a ticket for a runaway train
Everything seems cut and dry, day and night, earth and sky
Somehow I just don't believe it
Runaway train never going back
Wrong way on a one way track
Seems like I should be getting somewhere
Somehow I'm neither here nor there
Bought a ticket for a runaway train
Like a madman laughin' at the rain
Little out of touch, little insane
Just easier than dealing with the pain
Runaway train never comin' back
Runaway train tearin' up the track
Runaway train burnin' in my veins
Runaway but it always seems the same

*****

4.

I'm down here waitin' on a shattered heart
I'm gonna put it back together if it
Tears me apart
If I can keep it up
I been complainin' like a broken record
Gonna get what I want if it takes forever
If I can keep it up
Though the rain weighs down your wings
Still the caged bird has to sing
I know it seems funny tryin' to understand
It's just things don't always go the way you planned
Still you keep it up
Nothin' in the world's gonna keep me down
I'm just holdin' out Just hangin' around
747 gonna take us away, gonna take us up to heaven
Gonna be OK
If we can keep it up

*****

5.

I want to live with you
In the fifth dimension
In a dream I never had
'Cause I just can't live like this
In a world like this
I just wanna kiss Good-bye
But we are not of this world
And there's a place for us
Stuck inside this fleeting moment
Tucked away where no one owns it
Wrapped up in a haste
And by mistake got thrown away
Oh, I am so homesick
But it ain't that bad
'Cause I'm homesick for the home I never had
And though I sometimes get annoyed
I know just where I'm at
This is  my song of joy
Now I know there are no secret tricks
No correct politics
Just liars and lunatics
And we are not of this world
And there's a place for us
Stuck inside this fleeting moment
Tucked away where no one owns it
Wrapped up in a haste
And by mistake got thrown away
Oh, I am so homesick
But it ain't that bad
'Cause I'm homesick for the home I never had
Though I would not take it personally
It's just the child in me
Who never really knew how much I had
Woe is me I am so homesick
But it ain't that bad
'Cause I'm homesick for home I never had

*****

6.

Gotta get on
Gotta get on out
All these worried troubled thoughts
Gotta get on out of my head
Will I be on the streets tomorrow
Will I have to beg and borrow
Will I have to go back
To the job I left behind
Could you still make it
With a guy who never made it
Would you look into my eyes
If I were to go blind
Will you leave me for another
Send me running back to Mother
Will I have the time to tell you
How I really feel
Am I getting slower or
Are you just talking faster
Do we need a bad disaster
To make it plain to see
All these worried troubled thoughts
Gotta get on out of my head
Do I just feel like crying
'Cause I'm sick and tired of trying
Trying to convince you
This ain't how it has to be
The ground you walk on's sacred
The sky above awaits you so cast all your frustration
To the bottomless sea
All these worried troubled thoughts
Gotta get on out of my head
Get on out of my head

******

 
7.

Lives in a lonely little town
No one's around
Except for the drinkin'
Nobody ever gets around
But those who leave
The township sinking
May you rot in heaven
Gotta be home by seven
And the field burns away
The sky breathes it in
So why sit and wait  for the new world to begin
I'm comin' out across your border
With new orders, for you to take
I'd really like to take out your daughter
Down by the water, down by the lake
When the cold water's on her skin
I can feel how long it's been
And the neighbors will all be there
And no one will know what to wear
So why sit and wait for the new world to begin
I got a lot I gotta do
Just to get through
The end of the day
It hardly ever happens
But I go to sleep
The same anyway
And you can't believe in yourself
You can't believe in yourself
You can't believe in anyone else
So why sit and wait for the new world
To begin

*****

8.

Quittin' after one more last one
Tired of playin' the clown
If I want your opinion I'll ask ya
I can get myself down
Night driving without headlights
Wearing sunglasses too
Looking good but sure don't feel right
Anything to be cool
Doin' hopscotch with my legs tied
Jumpin' rope in wet cement
Black leather in midday sunshine
All your mother's money's spent
Doin' time on the metal detector
I'd like to drown in your pool
Covering up everything that's defective
Anything to be cool
A burning heart could be so cool
Won't you be my fashion victim C'mon
I'm an April Fool for your
I'm a mid-spring snowfall
Joke's on you
I'm an April Fool for you

*****

9.

I fell in love with a hooker
She laughed in my face
So seriously I took her
I was a disgrace
I was out of line
I was out of place
Out of time to save face
See the open mouth of my suitcase
Saying leave this place
Leave without a trace
I tried to get a good job
With honest pay
I might as will join the mob
The benefits are Okay
Standing in the sun with a Popsicle
Everything is possible
With a lot of luck and a pretty face
And some time to waste
Leave without a trace
I tried to dance at the funeral New Orleans style
I joined the Grave Dancers Union
I had to file
Trying to do right thing play it straight
The right thing changes from state to state
Don't forget to take your mace
If you're out walking late
I liked to see your face
You left without a trace
Leave without a trace

*****

10.

You never grow out of mischief making
You never go out of taking
You never grow out of complicating
When simple things are waiting
I'm growing into you
There's one thing that I know
That's perfectly clear
You never grow out of fear
You never grow out of contemplating
When it ain't worth debating
You never grow out of mistake making
You never grow out of fakin
I'm growing into you
There's one thing that I know
That's perfectly clear
You never grow out of fear
Get over it


*****

11.

I don't own you
But I know you're mine
Never disown you
Never treat you unkind
But once in a while
You get what you deserve
I need you ninety-nine percent of the time
Ninety-nine percent of the time
If I asked you
What's on your mind
Would you say me
Would they be thoughts unkind
Once in a while i'm not myself
Once in a while I think you someone else
I want you ninety-nine percent of the time
Ninety-nine percent of the time
Let's move in together
Happily ever after I can't touch you
But you feel so fine
Let's just stay like this
And waste some more time
Once in a while
You know I gotta say
I love you ya ninety-nine percent of the time
Ninety-nine percent of the time

*****

12.

Tell me how you get that shine
You must polish all the time
Though I know your job is thankless
They will thank you up in heaven
Oh the Sun Maid
Looking for the shade
The Sun Maid
Though they say she's not too bright
She takes care of all the light
Without it's cold and stark
We would all be in the dark
Without the Sun Maid
Looking for the shade
She never gets paid
The Sun Maid
You are so taken for granted
With each and every seed that's planted
And the young girls are out tanning
With the Sun Maid
She's such an old maid
She never gets laid
Oh the Sun Maid
Now you're tired, your day is over
Now the moon is one day older


*****************************************************************************

Typed and brought to you by Maj. Tom of Bad Sectors

-----------------------------------------------------------------------------

(Anm.d.Redax: Hm,nun hat der gute Lind... Ñh Maj. Tom aber vergessen, von wem
              der Schnulz stammt!)
 
-----------------------------------------------------------------------------

Keep the faith

Mother mother tell your children
That their time has just begun
I have suffered for my anger
There are wars that can't be won
Father father please believe me
I am laying down my guns
I am broken like an arrow
Forgive me
Forgive your wayward son
Everybody needs somebody to love (mother, mother)
Everybody needs somebody to hate (please believe me)
Everybody's bit ching 'cause they can't get enough
And it's hard to hold on
When there's no one to lean on
Faith: you know you're gonna live thru the rain
Lord you got to keep the faith
Faith: don't let your love turn to hate
Right now we got to Keep the faith
Keep the faith
Keep the faith
Lord we got to keep the faith

Tell me baby when I hurt you
Do you keep it all inside
Do you tell me all's forgiven
And just hide behind your pride
Everybody needs somebody to love (mother, father)
Everybody needs somebody to hate (please don't leave me)
Everybody's bleeding 'cause the times are tough
Well it's hard to be strong
When there's no one to dream on
Faith: you know you're gonna live thru the rain
Lord you got to keep the faith
Now you know is not too late
Oh you got to keep the faith
Faith: don't let your love turn to hate
Right now we got to
Keep the faith
Keep the faith
Keep the faith
Lord we got to keep the faith

Walking in the footsteps
Of society's lies I don't like what I see no more
Sometimes I wish that I was blind
Sometimes I wait forever to stand out in the rain
So no one sees me cryin'
Trying to wash away the pain
Mother father
There's things I've done I can't erase
Every night we fall from grace
It's hard with the world in your face
Trying to hold on, trying to hold on
Faith: you know you're gonna live thru the rain
Lord you got to keep the faith
Faith: don't let your love turn to hate
Right now we got to keep the faith
Faith: now it's not too late
Try to hold on, trying to hold on
Keep the faith

-------------------------------------------------------------------------------

Er war sehr gern allein und sein Leben war der Film
Sa· immer im Kino, immer egal was da lief
Und er liebte den Raum, fÅhlte sich hier zu Haus
Und immer wenn's brutal wurde flippte er aus
FÅr ihn war Gewalt, das Tîten und Sterben, ganz normal
Er fand es toll, wenn sie lachten und schrien
Also mu· doch irgend'was d'ran so schîn sein
Irgendwas mu· daran doch so schîn sein
Es hat ihn fasziniert, es hat ihn verfÅhrt es selbst zu tun

Ich mîchte spÅr'n wie's ist, wenn man ein' umbringt
Ich hab's schon so oft gesehen
Ich will's ausprobier'n - einmal nur spÅren
Ich mîcht sehn wie's ist, wenn einer umsinkt, wie einer stirbt
Nicht im Film, einfach live, mal seh'n wie das ist

Er war kein bischen nervîs, hatte ein Messer gekauft
Sa· wie immer im Kino, immer egal was da lief
Und er stach einfach zu, direkt neben sich
Und sah in Zeitlupe jeden einzelnen Stich
Er hatte es geschafft, schon vorbei
Er fÅhlte noch nicht viel
Genau wie im Film hat er getîtet
Ja was soll den daran so schlimm sein
Was soll den daran so schlimm sein
Sie haben ihn verhîrt, das hat ihn verstîrt, leicht verwirrt

Ich wollt' nur spÅr'n wie's ist, wenn man ein' umbringt
Ich hab's schon so oft gesehen
Ich wollt's nur ausprobier'n - einmal nur spÅren
Ich wollt' sehn wie's ist, wenn einer umsinkt, wie einer stirbt
Nicht im Film, einfach live, mal seh'n wie das ist

-------------------------------------------------------------------------------

Heinz Rudolf Kunze

"Wunderkinder"

Als wir klein war'n war das Allermeiste sonnenklar
Unsere Mutter war die beste, unser Vater war ein Star
Beide hatten mit den eignen HÑnden Deutschland aufgebaut
Und das wurde dann von Gastarbeitern StÅck fÅr StÅck versaut
Ja die Russen waren bîse und die Amis waren gut
Insgeheim war man noch Nazi, doch da fehlte 'n bischen Mut
Aber letztlich waren solche Fragen allen schei·egal
Denn am Ende jedes Monats stand die fette schwarze Zahl

Wir sind wie Wunderkinder
Wir sind wie Wunderkinder

Als sie Vietnam verbrannten, war'n wir in der PupertÑt
Nichts war wichtiger fÅr uns, als was in der BRAVO steht
Als sie Panzer und Kanonen parkten rundherum im Park
War nur der ein wahrer Freund fÅr uns, der Beckenbauer mag
Plîtzlich wehte um die Nase neuer Wind mit Namen Brandt
Vater, Mutter und die Lehrer schrieen der mu· an die Wand
Doch sein kleines bischen Feuer wurde ziemlich schnell erstickt
Bananenrepublik, vernagelt und geflickt

Wir sind wie Wunderkinder
Wir fall'n immer auf die FÅ·e, nur wer Schuld hat steht im Dreck
Wir sind wie Wunderkinder
Aber jemand zieht den Boden unter unser'n FÅ·en weg

Heute wird in unser'n Reihen neues Deutschland nachgebor'n
Vater hat mit fÅnfundfÅnzig seinen Arbeitsplatz verlor'n
Mutter trÑumt sie wÑre zwanzig und sie finge nochmal an
Und sie kriegt ihn jetzt tatsÑchlich, ihren Cowboy als Mann
In den Mehrzweckhallen atmen, es hat alles keinen Zweck
Die Pastoren in den leeren Kirchen wÅnschen sich weit weg
Uns'rer Kanzler braucht Soldaten, wei· von nichts und wird verklagt
Unser Deo und der ganze alte Zauber hat versagt

Wir sind wie Wunderkinder
Wir haben unser Leben lang das Leben angestaut
Wir sind wie Wunderkinder
Auf Kosten weit Entfernter, gut genÑhrt und gut gelaunt
Wir sind wie Wunderkinder
Wir haben kein Zuhause und die NÑchte werden kalt
Wir sind wie Wunderkinder
Wir werden noch viel schneller als die ander'n Kinder alt

-------------------------------------------------------------------------------

Future World (4:02)

If you're out there all alone
And you don't know where to go to
Come and take a trip with me to Future World

And if you're running through your life
And you don't know what the sense is
Come and look how it could be in Future World

We all live in happiness, our life is full of joy
We say the world "tomorrow" without fear
The feeling of togetherness is always at our side
We love our life and we know we will stay

Chorus:	Cause we are live in Future World
	A world that's full of love
	Our future life will be glorious
	Come with me - Future World

You say you'd like to stay
But this is not our time
So back find your own way to Future World

Life can be for living
Just try and never give in
Tell everyone the way of Future World

One day we'll live in happiness
With a heart that's full of joy
You'll say the world "tomorrow" without fear
The feeling of togetherness will be at your side
You'll say you love your life and you'll know why

Chorus:	Cause we are live in Future World
	A world that's full of love
	Our future life will be glorious
	Come with me - Future World

Solo:	both/Kai/both

Scream it out

Chorus:	We are live in Future World
	A world that's full of love
	Our future life will be glorious
	Come with me - Future World

-------------------------------------------------------------------------------

Halloween (13:18)

Masquerade, masquerade,
Grab your mask, and don't be late
Get out get out well disguised
Heat and fever in the air tonight
Meet the others at the store,
Knock on other people's door
Trick or treat they have the choice,
Little ghosts are makin' lotsa noise

But watch out ... beware - listen ... take care

Chorus:	In the streets of Halloween
	There's something going on
	No way to escape the power unknown
	In the streets of Halloween
	The spirits will arise
	Make your choice, it's hell or paradise,
	Ah - it's Halloween
	Ah - it's Halloween ... tonight!

Someone's sitting in a field,
Never giving yield
Sitting there with gleaming eyes,
Waiting for big pumpkin to arise
Bad luck if you get a stone,
Like the good old Charlie Brown
You think Linus could be right
The kids will say it's just a stupid lie

But watch out ... beware - listen ... take care

Chorus:	In the streets of Halloween
	There's something going on
	No way to escape the power unknown
	In the streets of Halloween
	The spirits will arise
	Make your choice, it's hell or paradise,
	Ah - it's Halloween
	Ah - it's Halloween ... tonight!

Listen now - we are calling you ...
And there is magic in the air

Solo:	Kai

Magic in the air ... on Halloween

Black is the night full of fright
You'll be missing the day
What will be here very soon
Changing your way
A knock at your door
Is it real or is it a dream
On trembling legs you open the door
And you scream ... on Halloween

Solo:	Kai/Mike/Kai/Mike

Darkness
Where am I now
Is there anybody out there
What has happened
Am I in heaven
Or is it hell

I can see a light comin'
It's comin' nearer
It's shining
It's shining so bright
It's shining on me

Solo:	Kai/Mike/Rhythm change/Mike/Kai/Mike/Kai

I am the one, doom's in my hands
Now make your choice
redeemed or enslaved

I'll show you passion and glory
He is the snake
I'll give you power and abundance
He's the corrupter of man

Save me from the evil one
Give me strenght to carry on
I will fight for all mankind's
Deliverance and peace of mind

Harmony solo:	both

But watch out ... beware - listen ... take care

Chorus:	In the streets of Halloween
	There's something going on
	No way to escape the power unknown
	In the streets of Halloween
	The spirits will arise
	Make your choice, it's hell or paradise,
	Ah - it's Halloween
	Ah - it's Halloween ... tonight!

Solo licks:	Kai

Yeah, it's Halloween
Yeah, it's Halloween ... tonight

-------------------------------------------------------------------------------

I want out (4:39)

From your lives beginning on
Wea are pushed in little forms
No one asks us how we like to be
In school they teach you what to think
But everyone says different things
But they're all convinced that
They're the ones to see

Bridge:	So they keep talking and they never stop
	And at a certain point you give it up
	So the only thing that's left to think is this

Chorus:	I want out - to live my life alone
	I want out - leave me be
	I want out - to do things on my own
	I want out - to live my life and to be free

People tell me A and B
They tell me how I have to see
Things that I have seen already clear
So they push me then from side to side
They're pushing me from black to white
They're pushing 'til there's nothing more to hear

Bridge:	But don't push me to the maximum
	Shut your mouth and take it home
	Cause I decide the way things gonna be

Chorus:	I want out - to live my life alone
	I want out - leave me be
	I want out - to do things on my own
	I want out - to live my life and to be free

There's a million ways to see things in life
A million ways to be the fool
In the end of it none of us is right
Sometimes we need to be alone

Solo:	Kai/both

Chorus:	I want out - to live my life alone
	I want out - leave me be
	I want out - to do things on my own
	I want out - to live my life and to be free
	
-------------------------------------------------------------------------------	

Judas (4:39)

You promise us all a bright golden future
You say you will save the world
That there will be no more hunger and pain
But we only see your golden hands
You say you take care of our survival
Sending us missiles instaed
But you just betray us, deny us and lie
And you always say you would

Chorus1:	Fight for the freedom, fight for the rights
	I see treason, in your eyes

Chorus2:	Judas - rullin with an iron hand
	Judas - sittin' in the government
	Judas - I am not a Jesus Christ
	Judas - you will be the one who's crucified

You worship money and economy
There's nothin' that you wouldn't do
If the payment is right, you don't care about life
'cause the economy is your truth
You are the one selling terror and pain
In all the parts of the world
You are preparing the final grand slam
But you keep on telling, you'll

Chorus1:	Fight for the freedom, fight for the rights
	I see treason, in your eyes

Chorus2:	Judas - rullin with an iron hand
	Judas - sittin' in the government
	Judas - I am not a Jesus Christ
	Judas - you will be the one who's crucified

Solo:	both/Kai/both

Judas, Judas - are you still human?
Judas, Judas - I can't believe it
Judas, Judas - dealing with evil
Judas, Judas
You keep on telling, you'll

Chorus1:	Fight for the freedom, fight for the rights
		I see treason, in your eyes

Chorus2:	Judas - rullin with an iron hand
	Judas - sittin' in the government
	Judas - I am not a Jesus Christ
	Judas - you will be the one who's crucified

Chorus2:	Judas - rullin with an iron hand
	Judas - sittin' in the government
	Judas - I am not a Jesus Christ
	Judas - you will be the one who's crucified

-------------------------------------------------------------------------------

Livin ain't no crime (4:43)

Come hither to this place and let your minds fly free
For that's the only way how everyone should be
We all need something that we can keep on living for
No one needs to tell us what we're doing anymore

Chorus:	Head on, head on steady - until the end of time
	Living, living ready - for living ain't no crime

So tell me, aren't we all just one holding the flame
Against all babbits in this world who build up frames
Some time or tomorrow we will prove them traitors wrong
So make your dreams come true for it mustn't take too long

Chorus:	Head on, head on steady - until the end of time
	Living, living ready - for living ain't no crime

Solo:	both/Kai/Mike

Now what's the use of living here and what's worth
Don't ask but throw away your fear, enjoy this earth
You are here to live don't think you're here to understand
Don't forget you're no one without someone's helping hand

Chorus:	Head on, head on steady - until the end of time
	Living, living ready - for living ain't no crime

-------------------------------------------------------------------------------

Dr. Stein (5:03)

Once they killed this monster when it went into a trap
Now he's making better ones on a higher step

Bridge:	On a warm summer day the doctor went away
	To a place where he could make it real
	His assistant's hips were nice
	So he cloned her once or twice
	Now his hips are aching what a deal

Chorus:	Dr. Stein grows funny creatures
`	Let's them run into the night
	They become great rock musicians
	And their time is right

Sometimes when he's feeling bored he's calling it a day
He's got his computers and they do it their own way

Bridge:	They mix some DNA some skin and a certain spray
	You can watch it on a laser screen
	And the felow's blue and grey
	Or sometimes pink and green
	Just check it out on Halloween

Chorus:	Dr. Stein grows funny creatures
`	Let's them run into the night
	They become great politicans
	And their time is right

Solo:	Mike/Kai/Mike/Kai

Bridge:	One night he cloned himself
	Put his brother on a shelf
	But when he fell asleep that night
	It crept up from behind and thougt "well never mind"
	Took a syringe and blew out his life

Chorus:	Dr. Stein grows funny creatures
	Let's them run into the night
	They become a great possesion
	And their time is right

Chorus:	Dr. Stein grows funny creatures
	Let's them run into the night
	They become a great oppression
	And their time is right

-------------------------------------------------------------------------------

                        all text's typed by Maj. Tom / Bad Sectors / 30.01.1994
