Und mal wieder ein Ultra-langes Split-File!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                  SONGTEXTE
                                 -----------

Auch diesmal haben  wir wieder einen ganzen Haufen von Songtexten zum Mitsingen
fÅr euch. Mit dabei sind Texte von Queen, den Puhdys, Pur, Keimzeit u.a.

===============================================================================

                           QUEEN-Texte: THE MIRACLE
                          --------------------------

Teil 2 der Queen-Texte-Serie: Das vorletzte Album.

-------------------------------------------------------------------------------
                                 THE MIRACLE               (1989)
-------------------------------------------------------------------------------

1.  PARTY
2.  KASHOGGI'S SHIP
3.  THE MIRACLE
4.  I WANT IT ALL
5.  THE INVISIBLE MAN
6.  BREAKTHRU
7.  RAIN MUST FALL
8.  SCANDAL
9.  MY BABY DOES ME
10. WAS IT ALL WORTH IT
 Extra Tracks:
11. HANG ON IN THERE
12. CHINESE TORTURE
13. THE INVISIBLE MAN (12" VERSION)

-------------------------------------------------------------------------------

01 - PARTY -
------------

We had a good night jamming away,
There was a full moon showing,
And we started to play,
But in the cold light of day next morning,
Party was over,
The party was over.
We got love and we got style,
And we got sex and I know I know we got what it takes oh, oh,
Why don't you come back and play,
Come back and play, come back and play,
We got all night all day,
Everybody's gone away,
Why don't you come back and play, come back and play, come back and play,
Come back and play, Go get'em boy - let's party,
We had a food fight in somebody's face,
We were up all night singing
And giving a chase,
But in the cold light of day next morning
Everybody was hung-over.
Come back and play, come back and play,
We got all night all day,
Everybody's gone away,
Why don't you come back and play,
Come back and play,
We got all night and we got all day,
We got all night to play,
Come back, comeback, comeback, comeback, comeback and play,
Goodbye, Goodbye, goodbye, goodbye, the party is over.

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

02 - KHASHOGGI'S SHIP -
-----------------------

Who said that my party was all over, huh, huh,
I'm in pretty good shape,
The best years of my life are like a super nova,
Huh, huh, perpetual craze, I said that
Everybody drank my wine - you get my drift,
And then we took a holiday on Kashoggi's ship - well,
We really had a good good time they was all so sexy
We was bad, we was blitzed,
All in all it was a pretty good trip,
This big bad sucker with a fist as big as your head,
Wanted to get me, I said go away
I said kiss my ass honey,
He pulled out a gun, wanted to arrest me,
I said uh, uh, babe,
Now listen no-one stops my party,
No-one stops my party,
No-one, no-one, no-one stops my party,
Just like I said,
We were phased, we was pissed,
Just having a total eclipse,
This one's on me so let us do it just right,
This here one party don't get started 'till midnight,
Party to the left -
Party to the right -
Left-right
No-one stops my.....

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

03 - THE MIRACLE -
------------------

Every drop of rain that falls in Sahara Desert says it all,
It's a miracle,
All God's creations great and small, the Golden Gate and the Taj Mahal,
That's a miracle,
Test tube babies being born, mothers, fathers dead and gone,
It's a miracle,
We're having a miracle on earth, mother nature does it all for us,
The wonders of this world go on, the hanging Gardens of Babylon,
Captain Cook and Cain and Able, Jimi Hendrix to the Tower of Babel,
It's a miracle, it's a miracle, it's a miracle, it's a miracle,
The one thing we're all waiting for, is peace on earth - an end to war,
It's a miracle we need - the miracle, the miracle we're all waiting for today,
If every leaf on every tree, could tell a story that would be a miracle,
If every child on every street, had clothes to wear and food to eat,
That's a miracle,
If all God's people could be free, to live in perfect harmony,
It's a miracle, we're having a miracle on earth,
Mother nature does it all for us
Open hearts and surgery, Sunday mornings with a cup of tea,
Super powers always fighting,
But Mona Lisa just keeps on smiling,
It's a miracle, it's a miracle, it's a miracle,
The wonders of this world go on,
It's a miracle, it's a miracle, it's a miracle, it's a miracle,
The one thing we're all waiting for, is peace on earth and an end to war,
It's a miracle we need, the miracle, the miracle,
Peace on earth and an end to war today,
That time will come one day you'll see when we can all be friends,
[repeat]........

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

04 - I WANT IT ALL -
--------------------

Adventure seeker on an empty street,
Just an alley creeper, light on his feet
A young fighter screaming, with no time for doubt
With the pain and anger can't see a way out,
It ain't much I'm asking, I heard him say,
Gotta find me a future move out of my way,
I want it all, I want it all, I want it all, and I want it now,
I want it all, I want it all, I want it all, and I want it now,

Listen all you people, come gather round
I gotta get me a game plan, gotta shake you to the ground
Just give me what I know is mine,
People do you hear me, just give me the sign,
It ain't much I'm asking, if you want the truth
Here's to the future for the dreams of youth,
I want it all, I want it all, I want it all, and I want it now,
I want it all, I want it all, I want it all, and I want it now,

I'm a man with a one track mind,
So much to do in one life time (people do you hear me)
Not a man for compromise and where's and why's and living lies
So I'm living it all, yes I'm living it all,
And I'm giving it all, and I'm giving it all,
It ain't much I'm asking, if you want the truth,
Here's to the future, hear the cry of youth,
I want it all, I want it all, I want it all, and I want it now,
I want it all, I want it all, I want it all, and I want it now,
[etc.]

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

05 - THE INVISIBLE MAN -
------------------------

I'm the invisible man,
I'm the invisible man,
Incredible how you can,
See right through me.

When you hear a sound,
That you just can't place
Feel somethin' move
That you just can't trace,
When something sits
On the end of your bed
Don't turn around
When you hear me tread.

I'm the invisible man,
I'm the invisible man
Incredible how you can
See right through me
I'm the invisible man
I'm the invisible man
It's criminal how I can
See right through you.

Now I'm in your room
And I'm in your bed
And I'm in your life
And I'm in your head
Like the CIA
Or the FBI
You'll never get close
Never take me alive

I'm the invisible man
I'm the invisible man
Incredible how you can
See right through me
I'm the invisible man
I'm the invisible man
It's criminal how I can
See right through you,
Hah, hah, hah, hello,
Hah, hah, hah, hello,
Hah, hah, hah, hello-hello-hello-hello,
Never had a real good friend - not a boy or a girl
No-one knows what I've been through - let my flag unfurl
So I make my mark from the edge of the world,
From the edge of the world,
From the edge of the world,

Now I'm on your track
And I'm in your mind,
And I'm on your back
But don't look behind
I'm your meanest thought
I'm your darkest fear
But I'll never get caught
You can't shake me, shake me dear,

I'm the invisible man,
I'm the invisible man
Incredible how you can
See right through me
I'm the invisible man
I'm the invisible man
It's criminal how I can
See right through you
Look at me, look at me

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

06 - BREAKTHRU -
----------------

When love breaks up
When the dawn light wakes up
A new life is born
Somehow I have to make this final breakthru...Now!

I wake up
Feel just fine,
Your face
Fills my mind
I get religion quick
'Cos you're looking divine
Honey you're touching something, you're touchin' me,
I'm under your thumb, under you're spell, can't you see,
If I could only reach you,
If I could make you smile,
If I could only reach you,
That would really be a breakthru - oh yeah.

Breakthru, these barriers of pain,
Breakthru, to the sunshine from the rain,
Make my feelings known towards you
Turn my heart inside and out for you now
Somehow,
I have to make this final breakthru,
Now!

Your smile,
Speaks books to me,
I break up,
With each and every one of your looks at me,
Honey you're starting something deep inside of me,
Honey you're sparking something, this fire in me,
I'm outta control, I wanna rush headlong into this ecstasy
If I could only reach you
If I could make you smile
If I could only reach you
That would really be a breakthru
If I could only reach you
If I could make you smile,
If I could only reach you
That would really be a breakthru
Breakthru, breakthru

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

07 - RAIN MUST FALL -
---------------------

I can see it in your stars
Life is so exciting,
Acting so bizarre
Your world is so inviting
Playing really cool
And looking so mysterious
Your every day is full of sunshine
But into every life a little rain must fall.

Anyone who imagines
They can blind you with science
Bully you all over
With property and finance
But you have position
To call the shots and name the price
You found success and recognition
But into every life a little rain must fall

You lead a fairy tale existence
But into every life a little rain must fall

Others seem to think
You are over dramatising
Problems at work
So it's hardly surprising
There's little you can do
To alter their opinions
You want a clean reputation
But now you're facing complications
'Cos into every life a little rain must fall

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

08 - SCANDAL -
--------------

Scandal - now you've left me all the world's gonna know
Scandal, they're gonna turn our lives into a freak show,
They'll see the heart-ache, they'll see our love break,
They'll hear me pleading, I'll say for Gods sake,
Over and over and over again,
Scandal - now you've left me there's no healing the wounds,
Hey scandal, and all the world can make us out to be fools,
Here come the bad news, open the floodgates
They'll leave us bleeding, we say you cheapskates,
Over and over and over again,
So let them know when they stare, it's just a private affair,
They'll have us hung in the air and tell me what do they care,
It's only a life to be twisted and broken,
They'll see the heart-ache, they'll see our love break - yeah,
They'll hear me pleading, I'll say for Gods sake,
Over and over and over again,
Scandal, scandal,
Scandal, yes you're breaking my heart again,
Today the headlines, tomorrow hard times,
And no-one really knows the truth from the lies,
And in the end the story deeper must hide,
Deeper and deeper and deeper inside,
Scandal, scandal [etc......]

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

09 - MY BABY DOES ME -
----------------------

My baby
Baby does
My baby does, me good
My baby does
My baby does me
My baby does me good

My lady
Understands
Understands me, right

She understands me
She understands me
Understands me right
My baby cares
She really cares
She knows what's really right for me
Does me good then she hurts me so
She winds me up then lets me go
Turns me on and then tells me no
She's just a pussy cat

My baby loves me
My baby loves me
My baby cuffs me
One day she tells me that she cares
Another day she tells me she don't love me
She really really does me

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

10 - WAS IT ALL WORTH IT -
--------------------------

What is there left for me to do in this life,
Did I achieve what I had set in my sights,
Am I a happy man, or is this sinking sand,
Was it all worth it, was it all worth it,
Yeah, now hear my story, let me tell you about it,
We bought a drum kit, blew my own trumpet,
Played the circuit, thought we were perfect,
Was it all worth it, giving all my heart and soul and
Staying up all night, was it all worth it,
Living breathing rock n'roll, a godforsaken life,
Was it all worth it, was it all worth it all these years,
Put down our money without counting the cost,
It didn't matter if we won - if we lost,
Yes we were vicious, yes we could kill,
Yes we were hungry, yes we were brill,
We served a purpose, like a bloody circus,
We were so dandy we love you madly,
Was it all worth it, was it all worth it,
Living breathing rock n'roll, this godforsaken life,
When the hurly burly's done -
We went to Bali, saw God and Dali,
So mystic, surrealistic,
Was it all worth it, giving all my heart and soul,
Staying up all night, was it all worth it,
Living breathing rock n'roll, this never ending fight,
Was it all worth it, was it all worth it,
Yes, it was a worthwhile experience,
It was worth it.

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

11 - HANG ON IN THERE -
-----------------------

Don't let go, don't lose your mystique,
Wait a little longer,
Tomorrow brings another feast,
Don't let go, don't lose your reputation,
Thank god you're still alive,
You're still in one piece,
Hang on in there, don't lose your appetite,
Hang on in there, forget the danger signs,
Pray for that magical moment and it will appear
(Don't fight for lost emotions,)
Wait for the sunrise,
And everything will seem so clear,
(Look straight ahead, look straight ahead,)
Hang on in there, hang on in there, hang on in there,
Your wish will be granted,
All your problems will disappear,
Don't be a fool, you haven't reached your peak,
You got a fast car racing up inside you,
Your life is incomplete,
Hang on in there, hang on in there,
Pray for that magical moment and it will appear
(Wait for that moment),
Wait for the sunrise,
Just wait and see and it will seem so clear,
Let's go, let's go - OK now do the change now,
Yeah, hang on in there,
Hang on in there etc.

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

12 - CHINESE TORTURE -
----------------------

[kein Text]

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

13 - THE INVISIBLE MAN (12" VERSION) -
--------------------------------------

[siehe 5]

===============================================================================
                                                         Gorkon / 23.3.-13.4.95
===============================================================================

                         PUHDYS - BIS ANS ENDE DER WELT
                        --------------------------------

Folgende Texte  gehîren zu den Songs  des bis dato letzten Phudys-Album. Es war
zwar einmal mehr nicht ganz leicht, die Texte genau zu Åbertragen, da es manch-
mal doch etwas schwer zu verstehen war, aber  ich hoffe, keine allzu gravieren-
den Fehler hineingebracht zu haben...
Also dann schîn Åben und auswendig lernen, damit  ihr beim nÑchsten  Konzert so
richtig mitsingen kînnt! Im Anschluû folgen dann noch Texte zu Ñlteren und sehr
bekannten Songs der Puhdys, z.Bsp. "Alt wie ein Baum"...

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

01 - BIS ANS ENDE DER WELT -
----------------------------

Sie war kaum sechzehn, da war ein Mann,
Als sie das erste Mal verlor.
Was er sagte, sie glaubte daran,
An seine SprÅche, die er schwor.
An seine SprÅche, die er schwor.

Er nahm sie mit und er schickte sie fort,
Sie war ihm wie ein Untertan.
Sprach groûe Dinge, sie glaubte daran,
Bis er dann nicht mehr wiederkam.
Bis er dann nicht mehr wiederkam.

Bis ans Ende der Welt,
Waren die Worte aus LÅge erdacht.
Bis ans Ende der Welt,
FÅr ein paar Stunden auf Liebe gemacht.
Bis ans Ende der Welt,
Waren die Worte aus LÅge erdacht.
Bis ans Ende der Welt,
FÅr ein paar Stunden.

Und teilt ein andrer mit ihr eine Nacht,
Wenn er es vielleicht auch ehrlich meint.
Doch sie spÅrt KÑlte, liegt oft stundenlang wach,
Denkt sie an die vergangne Zeit.
Denkt sie an die Vergangenheit.

Bis ans Ende der Welt,
Waren die Worte aus LÅge erdacht.
Bis ans Ende der Welt,
FÅr ein paar Stunden auf Liebe gemacht.
Bis ans Ende der Welt,
Waren die Worte aus LÅge erdacht.
Bis ans Ende der Welt,
FÅr ein paar Stunden.

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

02 - SCHLAF MIT MIR -
---------------------

Bleib heut' bei mir,
Ich sehne mich,
Heut' Nacht, heut' Nacht, nach dir.
Schlaf heut'  mit mir,
Zum ersten Mal,
Heut' Nacht, heut' Nacht, mit mir.

Bleib heut' Nacht bei mir.
Ich will alles von dir.
Komm ich halte dich fest,
Heute Nacht, in meinen Armen.

Bleib heut' bei mir,
Ich sehne mich,
Heut' Nacht, heut' Nacht, nach dir.
Schlaf heut' mit mir,
Zum ersten Mal,
Heut' Nacht, heut' Nacht, mit mir.

Bleib heut' Nacht bei mir,
Ich will alles von dir.
Komm ich halte dich fest,
Heute Nacht, in meinen Armen.

...

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

03 - KEIN PARADIES -
--------------------

Kein Paradies stell ich mir vor,
Wenn ich von dir und mir erzÑhl.
Kein Paradies, doch vieles mehr,
Was anders wird auf dieser Welt.

Ich stell mir vor es kommt der Tag,
Er kann so lang sein wie ich mag.
Und durch die Stille meiner Nacht,
dringt niemals mehr ein Schrei.

Kein Paradies stell ich mir vor,
Kein Leben voller Illusion.



- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

04 - SPIEL ZU ZWEIT -
---------------------

Der Morgen kommt, doch du schlÑfst noch sacht.
In meinen Armen versteckt.
Und ich halt dich fest, halte wacht,
bis dich mein Hunger erschreckt.
SpÑter dann, wenn wir den Schlaf verjagt,
Bring ich dir einen Kaffee,
Oder was heiûes noch,
Spielt zwischen Nase und Zeh.

Du wirst sehen, wie Regen schwebt,
Und wie sich Berg und Tal verweht.
Ein Tropfen Tau an BlÅten klebt,
So nah...

SpÑter dann, wenn wir den Schlaf verjagt,
Bring ich dir einen Kaffe.
Oder was heiûeres noch,
Spielt zwischen Nase und Zeh.

Du wirst sehen, wie Regen schwebt,
Und wie sich Berg und Tal verweht.
Ein Tropfen Tau an BlÅten klebt,
So nah...

...

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

05 - STURMVOGEL -
-----------------

Da tobt ein Sturm, daû jedes Meer in Wellen bricht,
Ihm aber macht der Sturm nichts aus.
Da tobt ein Sturm, doch seine Kraft ermÅdet nicht,
Denn jeder Sturm ist sein zu Haus.

Wenn ich ihn hoch am Himmel seh,
FÅhle ich mich in seiner NÑh'.

Da tobt ein Sturm, reibt sich an Felsen und Gestein,
Doch er hÑlt sicher seine Bahn.
Will nicht versteckt und irgednwo auf Erden sein,
Zieht seinen Flug noch stÑrker an.

Wenn ich ihn hoch am Himmel seh,
FÅhle ich mich in seiner NÑh'.

Da tobt ein Sturm, daû jedes Meer in Wellen bricht,
Ihm aber macht der Sturm nichts aus.
Da tobt ein Sturm, doch seine Kraft ermÅdet nicht,
Denn jeder Sturm ist sein zu Haus.

Wenn ich ihn hoch am Himmel seh,
FÅhle ich mich in seiner NÑh'.
...

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

06 - EINSAMKEIT -
-----------------

Weit vor den Straûen,
Weiû ich einen Sinn.
Weit vor den Straûen,
Ich mein Bild besinn.

Ich leg die Kleider ab
Und bin allein.
Schau die Sonne an,
Und schwimm so weit.

Einsamkeit, Einsamkeit,
Brauche ich fÅr kurze Zeit.
Einsamkeit, Einsamkeit.

Weit vor den Straûen,
Weiû ich einen Sinn.
Weit vor den Straûen,
Ich mein Bild besinn.

Leg die Verkleidung ab,
Und bin allein.
Schau mir ins Gesicht,
Und suche mich.

Einsamkeit, Einsamkeit,
Ich brauche dich fÅr kurze Zeit.
Einsamkeit, Einsamkeit.

Einsamkeit, Einsamkeit,
Brauche ich fÅr kurze Zeit.
Einsamkeit, Einsamkeit,
Brauche ich fÅr kurze Zeit.
...

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


07 - WILDE JAHRE -
------------------

===============================================================================
                                                                 Moondog of tnb
===============================================================================

au