                               LYNX SPIELMODULLISTE
                               --------------------

Die folgene Liste beinhaltet alle geplanten und schon  erschienen Games fÅr den
Lynx. Ob die dort aufgezÑhlten Titel noch jemals erscheinen weiû ich nicht. Ich
habe die Bewertungen  von verschieden  Zeitschriften und  sie dort zur besseren
Kaufentscheidung mal mit aufgelistet (soweit mir bekannt).
Manche Games gibt es nur in den USA und sind nur fÅr Importpreise zu haben,also
nicht wundern wenn es mal teurer wird.
 
Die AbkÅrzungen lauten:  P - Power Play
                         F - Mega Fun
                         V - Video Games
                         M - Megablast

So und hier die Liste :


      *            NAME             *    GENRE   * TEST IN * PW * GIBTS*
      ******************************************************************
      * 720 GRAD                    * GESCHICK.  *         *    *  JA  *
      * ALL POINTS BULLETIN         * GESCHICK.  *         *    *  JA  *
      * AWESOME GOLF                * SPORT      *P- 2/92  * 71 *  JA  *
      * BAD BOY TENNIS              * SPORT      *         *    * NEIN *
      * BASEBALL HEROES             * SPORT      *         *    *  JA  *
      * BASKETBRAWL                 * SPORT      *P- 6/92  * 56 *  JA  *
      * BATMAN RETURNS              * ACTION     *P- 8/92  * 52 *  JA  *
      * BATTLEWHEELS                * ACTION     *F- 9/93  * 61 *  JA  *
      * BATTLE ZONE 2000            * ACTION     *         *    *  JA  *
      * BILL AND TED'S ADVENTURE    * ACTION     *V- 4/93  * 35 *  JA  *
      * BLOCK OUT                   * DENKSPIEL  *         *    *  JA  *
      * BLOOD & GUTS HOCKEY         * SPORT      *         *    * NEIN *
      * BLUE LIGHTNING              * ACTION     *P- 3/90  * 75 *  JA  *
      * CABAL                       * ACTION     *         *    * NEIN *
      * CALIFORNIA GAAMES           * GESCHICK.  *P- 3/90  * 72 *  JA  *
      * CHECKERED FLAG              * RENNSPIEL  *P-10/91  * 70 *  JA  *
      * CHIP'S CHALLENGE            * GESCHICK.  *P- 6/90  * 84 *  JA  *
      * CRAZY ACE MINIGOLF          * SPOPRT     *         *    * NEIN *
      * CRYSTAL MINES 2             * GESCHICK.  *         *    * NEIN *
      * CYBERBALL                   * SPORT      *V- 4/93  * 58 *  JA  *
      * DAEMONSGATE                 * ROLLENSPIEL*         *    * NEIN *
      * DESERT STRIKE               * STRATEGIE  *V- 3/94  * 91 *  JA  *
      * DINOLYMPICS                 * DENKSPIEL  *F- 6/93  * 81 *  JA  *
      * DIRTY LARRY - RENEGADE COP  * ACTION     *F- 6/93  * 43 *  JA  *
      * DOUBLE DRAGON               * ACTION     *F-12/93  * 58 *  JA  *
      * DRACULA - THE UNDEAD        * ADVENTURE  *M- 4/93  * 67 *  JA  *
      * ELECTROCOP                  * ACTION     *   3/90  * 38 *  JA  *
      * EUROPEAN SOCCER CHALLENGE   * SPORT      *F- 7/93  * 70 *  JA  *
      * EYE OF THE BEHOLDER         * ROLLENSPIEL*         *    * NEIN *
      * FIDELITY ULTIMATE CHESS CHA.* DENKSPIEL  *P- 5/91  * 70 *  JA  *
      * FULL COURT PRESS            *            *         *    * NEIN *
      * GATES OF ZENDOCON           * ACTION     *P- 3/90  * 73 *  JA  *
      * GAUNTLET 3                  * ACTION     *P- 9/90  * 57 *  JA  *
      * GEA-DUEL                    * ACTION     *         *    * NEIN *
      * GORDO 106                   * GESCHICK.  *         *    *  JA  *
      * GRIDRUNNER                  * ACTION     *         *    * NEIN *
      * GUARDIANS - STORM OVER DORIA* ROLLENSPIEL*         *    * NEIN *
      * HARD DRIVIN'                * RENNSPIEL  *P-11/91  * 51 *  JA  *
      * HEAVYWEIGHT CONTENDER       *            *         *    * NEIN *
      * HYDRA                       * ACTION     *P- 6/92  * 58 *  JA  *
      * HYPERDROME                  * ACTION     *         *    * NEIN *
      * ICE HOCKEY                  * SPORT      *P- 7/92  * 65 * NEIN *
      * ISHIDO                      * DENKSPIEL  *P-11/91  * 79 *  JA  *
      * JIMMY CONNORS TENNIS        * SPORT      *V-12/93  * 69 *  JA  *
      * JOUST                       * ACTION     *         * 25 *  JA  *
      * KLAX                        * DENKSPIEL  *P-12/90  * 90 *  JA  *
      * KUNG FOOD                   * ACTION     *P-12/92  * 59 *  JA  *
      * LEMMINGS                    * DENKSPIEL  *F-10/93  * 83 *  JA  *
      * LYNX CASINO                 * DENKSPIEL  *         *    * NEIN *
      * LYNX HOCKEY                 * SPORT      *         *    * NEIN *
      * MALIBU VOLLEYBALL           * SPORT      *         *    * NEIN *
      * METAL ARC                   * ACTION ??? *         *    * NEIN *
      * MISSILE COMMAND             * GESCHICK.  *         *    * NEIN *
      * MS. PAC MAN                 * GESCHICK.  *P- 2/91  * 60 *  JA  *
      * NFL FOOTBALL                * SPORT      *         *    * NEIN *
      * NINJA GAIDEN                * ACTION     *P- 8/91  * 55 *  JA  *
      * NINJA GAIDEN III            * ACTION     *         *    * NEIN *
      * NINJA NERD                  * ACTION     *         *    * NEIN *
      * PAC-LAND                    * GESCHICK.  *P- 8/91  * 53 *  JA  *
      * PAPERBOY                    * GESCHICK.  *P- 2/91  * 56 *  JA  *
      * PINBALL JAM                 * GESCHICK.  *M- 4/93  * 72 *  JA  *
      * PIT FIGHTER                 * ACTION     *F- 6/93  * 38 *  JA  *
      * POWER FACTOR                * ACTION     *F- 6/93  * 52 *  JA  *
      * QUIX                        * ACTION     *         *    * NEIN *
      * RAIDEN                      * ACTION     *         *    * NEIN *
      * RAMPAGE                     * GESCHICK.  *P- 3/91  * 51 *  JA  *
      * RAMPARTS                    * GESCHICK.  *P- 5/92  * 83 *  JA  *
      * RELIEF PITCHER              *            *         *    * NEIN *
      * ROAD BLASTER                * ACTION     *P- 2/91  * 75 *  JA  *
      * ROAD RIOT 4WD               * SPORT      *         *    * NEIN *
      * ROBO-SQUASH                 * GESCHICK.  *P- 3/91  * 46 *  JA  *
      * ROBOTRON 2084               * ACTION     *P- 2/92  * 66 *  JA  *
      * ROLLING THUNDER             * ACTION     *         *    *  JA  *
      * RYGAR                       * ACTION     *P- 3/91  * 56 *  JA  *
      * SCRAPYARD DOG               * GESCHICK.  *P- 2/92  * 51 *  JA  *
      * SHADOW OF THE BEAST         * ACTION     *P- 9/92  * 70 *  JA  *
      * SHANGHAI                    * DENKSPIEL  *P- 3/91  * 85 *  JA  *
      * SLIME WORLD                 * ACTION     *P- 1/91  * 71 *  JA  *
      * SPACE WAR                   * ACTION     *         *    * NEIN *
      * STEEL TALONS                * SIMULATION *P- 9/92  * 85 *  JA  *
      * STRIDER II                  * ACTION     *         *    * NEIN *
      * S.T.U.N. RUNNER             * GESCHICK.  *P- 2/92  * 64 *  JA  *
      * SUPER BOWL FOOTBALL         * SPORT      *         *    * NEIN *
      * SUPER OFF ROAD              * GESCHICK.  *         *    * NEIN *
      * SUPER OFF ROAD II           * GESCHICK.  *         *    * NEIN *
      * SUPER SKWEEK                * GESCHICK.  *P- 5/92  * 61 *  JA  *
      * SWITCHBLADE 2               * ACTION     *P-10/92  * 63 *  JA  *
      * TOKI                        * GESCHICK.  *P- 3/92  * 75 *  JA  *
      * TOURNAMENT CYBERBALL 2070   * SPORT      *V- 4/93  * 58 *  JA  *
      * TURBO SUB                   * ACTION     *P-10/91  * 63 *  JA  *
      * VIKING CHILD                * GESCHICK.  *         *    *  JA  *
      * VINDICATORS                 * ACTION     *         *    * NEIN *
      * WARBIRDS                    * ACTION     *P- 5/91  * 60 *  JA  *
      * WORLD CLASS SOCCER          * SPORT      *P-10/92  * 35 *  JA  *
      * XENOPHOBE                   * ACTION     *P- 2/91  * 56 *  JA  *
      * XYBOTS                      * ACTION     *P- 3/92  * 70 *  JA  *
      * ZALOR MERCENARY             * ACTION     *P- 2/91  * 50 *  JA  *
      ******************************************************************

                                created by FLASH
